header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
.logo{
    width: 200px;
}
.menu-centro a{
    text-decoration: none;
    color: black;
    margin-right: 12px;
    font-size: 20px;
    font-weight: 600;
    /*Hover*/
    display: inline-block;
    position: relative;
}

.menu-derecha {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-derecha a{
    text-decoration: none;
    color: black;
    margin-right: 16px;
    font-size: 20px;
    font-weight: 450;
    /*Hover*/
    display: inline-block;
    transition: transform .3s ease-in-out, color 120ms ease-in-out;
}

.user-name {
    font-size: 16px;
    color: #333;
    margin-right: 8px;
}

.menu-centro a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 4px;
    background: var(--color5);
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform .3s ease-in-out;
}

.menu-centro a:hover{
    color: var(--color5);
    transition: transform .3s ease-in-out;
}

.menu-centro a:hover::after{
    transform: scaleX(1);
}

.menu-derecha a:hover{
    transform: translateX(6px);
    color: var(--color5);
}

/*Banner*/

.banner{
    width: 100%;
    overflow: hidden;
}

.banner-img{
    width: 100%;
}