@font-face {
  font-family: 'Roca Two';
  src: url('./assets/fonts/roca-two.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Ginger';
  src: url('./assets/fonts/ginger.woff2') format('woff2'),
       url('./assets/fonts/ginger.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root{
    --color1: #dfd3c2;
    --color2: #dfcfb5;
    --color3: #daba9e;
    --color4: #d6ae7e;
    --color5: #c69468;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color1);
    font-family: 'Roca Two', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Ginger', sans-serif;
}
